<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>To send comment</title>
</head>
<body>
    <form action = "comment" method="post">
        <label> Your comment:</label><br>
        <input name="text" type="text"><br>
        <label>Type of comment:</label><br>
        <select name="type">
            <option value="Positive">Positive</option>
            <option value="Negative">Negative</option>
        </select>
        <input type="submit" value="Send"/>
    </form>
    <br>
    <a href = "/"> All comments </a>
</body>
</html>