<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VoxPop</title>
</head>
<body>
    <a href = "/comment"> Send comment </a>
    <hr>

    {%for comment in comments%}
            <p><b>Comment Text: </b> {{comment.text}}</p>
            <p><b>Type of comment: </b> {{comment.type}}</p>
            <hr>
     {% endfor %}


    <label>Pages</label>
    {% for i in range(pages) %}
        <a href = "/?page={{i + 1}}">{{i + 1}}</a>
    {% endfor %}
   
</body>
</html>